!!! 5
%html
  %head
    %title Shiso Conference 2011
    -#%link{'href' => 'style.css', 'rel' => 'stylesheet', 'type' => 'text/css', 'media' => 'screen'}
  %body
    #wrapper
      #menu
        %ul
          %li
            %a{ href : 'http://twitter.com/toilet_lunch'}@toilet_lunch
          %li
            %a{ href : 'http://twitter.com/seiryo'}@seiryo
          %li
            %a{ href : 'http://twitter.com/superbrohters'}@superbrothers
      #header
        #logo
          %h1
            %a
              %p Shiso Conference
              %p 2011
          %div
            %p of the shiso, 
            %p by the shiso, 
            %p for the shiso.
      #page
        #page-bgtop
          #page-bgbtm
            #content
            #sidebar
              -#%ul
                -#%li
                -#%li
            %div{ style : 'clear:both'}
    #footer
      %small
        Copyright (c) 2011 Shisobu
        %br
        Design by 
        %a{ href : 'http://www.freecsstemplates.org/'} Free CSS Templates 
